@import '../../bower_components/normalize-scss/normalize';
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

@import "settings";

html, body {
  background-image: url(../images/medium/chi.png);
  background-repeat: repeat;
}



p {
  text-align: center;
  color: white;
  padding: 2vh;
  font-size: 1.2em;
  font-weight: bolder;
}

.main > header {
  padding-bottom: 5vh;
}

.navigacija {

  @include outer-container;

  max-width: 100%;

  .mygt, .ves {
      @include span-columns(2);
      text-align: center;
  }

  .mygt {
      background-color:#bf5f5f;
      box-shadow: 1px 1px 2px black;
  }

  #desiniau {
    @include shift(3);
  }

  .ves {
    @include shift(3);
  }

  @include media(max-width $mobas, 6) {
    .mygt {
      @include span-columns(6);
    }
    #desiniau {
      @include shift(0);
      margin-top: 5vh;
    }
    .ves {
      display: none;
    }
  }
}
