@import '../../bower_components/normalize-scss/_normalize.scss';

@import "settings";

body, .container {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .footer, .nav {
      font-family: $font-burbon;
  }

  .line {
    background: $color;
    height: 2vh;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-family: $font-namez;
      color: $color;
      font-weight: lighter;
      margin: 1vh 0;
      font-size: 5em;
    }
    .nav {
      font-size: 2em;
      a, a:hover, a:active, a:visited {
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: $color;
      }
    }
    .y-vestuves {
      margin-right: 2vw;
    }
  }

  .hero {
    flex: 1;
    background: url(../images/xxxlarge/hero.jpg) center center;
  }

  .footer {
    font-size: 1.7em;
    padding: 3vh 0;
    color: $color;
    text-align: center;
  }

  @media screen and (max-width: $mobas) {
    .header {
      flex-direction: column;
      h1 { font-size: 2.5em; }
    }
  }

  @media screen and (max-width: $hp) {
    .header {
      h1 { font-size: 4em; }
      .nav { font-size: 1.4em; }
    }
    .footer {
      font-size: 1.1em;
    }
  }

  @media screen and (min-width: $plansetas) {
    .hero, .header {
      $marginiux: 15vw;
      margin-left: $marginiux;
      margin-right: $marginiux;
    }
  }

  @media screen and (max-width: $mobas) {
    .header {
      flex-direction: column;
      h1 { font-size: 2.5em; }
      .nav {
        text-align: center;
        a {
          margin: 0;
        }
        .y-vestuves {
          margin-right: 8vw;;
        }
      }
    }
    .footer {
      font-size: 0.8em;
      padding: 2vh 0;
    }
  }
}
